<!-- <p>header works!</p> -->
<!-- <button routerLink="/book">Click me to go to Books Page!</button><br>
<button routerLink="/blog">Click me to go to Blogs Page!</button><br>
<button routerLink="/profile">Click me to go to Profile Page!</button><br> -->
<ul>
    <li><a routerLink="book" routerLinkActive="router-link-active">Go To Books Page</a></li>
    <li><a routerLink="blog" routerLinkActive="router-link-active">Go To Blog Page</a></li>
    <li><a routerLink="profile" routerLinkActive="router-link-active">Go To Profile Page</a></li>
</ul>
